build/**
android/**
ios/**
public/**
resources/**

.vscode/**
.idea/**
.husky/**

src/service-worker.js
src/reportWebVitals.js
src/serviceWorkerRegistration.js
src/setupTests.js

.capacitor.config.json
ionic.config.json
vite.config.js